.playerForm {
    margin: 40px 10px 10px 10px;
}

.playGrid {
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    width: 400px;
}

.gameCell {
    border: solid black 1px;
}

